<div class="min-h-screen flex flex-col lg:flex-row gap-6 p-4 lg:p-6">
  <!-- Sidebar de filtros -->
  <div class="w-full lg:w-1/4 space-y-4">
    <div class="bg-white p-4 rounded-2xl shadow space-y-4">
      <h1 class="text-2xl font-bold text-gray-800">Asignaciones</h1>

      <%= form_with url: assignments_path, method: :get, data: { controller: "debounce-search", turbo_frame: "assignments_table" }, class: "space-y-4" do |f| %>

        <!-- Busqueda -->
        <div>
          <%= f.label :q, "Busqueda", class: "block text-sm font-medium text-gray-700" %>
          <%= f.text_field :q, value: params[:q], placeholder: "Usuario o producto", data: { debounce_search_target: "input", action: "input->debounce-search#search" }, class: "w-full border border-gray-300 rounded-xl px-3 py-2 text-sm" %>
        </div>

        <!-- Estado -->
        <div>
          <%= f.label :status, "Estado de asignación", class: "block text-sm font-medium text-gray-700" %>
          <%= f.select :status, options_for_select([["Asignado", "assigned"], ["instalado", "installed"]], params[:status]), { include_blank: true }, class: "w-full border border-gray-300 rounded-xl px-3 py-2 text-sm" %>
        </div>

        <!-- Fechas -->
        <div class="grid grid-cols-2 gap-3">
          <div>
            <%= f.label :from, "Desde", class: "block text-sm text-gray-600" %>
            <%= f.date_field :from, value: params[:from], class:"w-full border border-gray-300 rounded-xl px-2 py-1 text-sm" %>
          </div>
          <div>
            <%= f.label :to, "Hasta", class: "block text-sm text-gray-600" %>
            <%= f.date_field :to, value: params[:to], class: "w-full border border-gray-300 rounded-xl px-2 py-1 text-sm" %>
          </div>
        </div>

        <!-- Boton -->
        <div class="pt-2">
          <%= f.submit "Filtrar", class: "w-full bg-indigo-600 hover:bg-indigo-700 text-white font-semibold px-4 py-2 rounded-xl transition" %>
        </div>
      <% end %>

      <div class="pt-1 flex justify-center">
        <%= link_to "Nueva Asignación", new_assignment_path, data: { turbo_frame: "modal" }, class: "bg-emerald-600 hover:bg-emerald-700 text-white px-4 py-2 rounded-xl text-sm font-medium shadow" %>
      </div>
    </div>
  </div>

  <!-- Tabla -->
  <div class="w-full lg:w-3/4 space-y-4">
    <div class="bg-white p-4 rounded-2xl shadow">
      <div class="flex justify-between mt-2 mb-2">
        <h2 class="text-xl font-semibold text-gray-800 mb-4">Historial de Asignaciones</h2>
        <!-- Top controls -->
        <div class="flex flex-col lg:flex-row justify-between items-start lg:items-center gap-4 mb-2">
          <!-- Right buttons -->
          <div class="flex flex-wrap gap-2">
            <a href="#" class="bg-emerald-600 hover:bg-emerald-700 text-white text-sm font-semibold px-4 py-2 rounded-xl shadow">Excel</a>
            <a href="#" class="bg-red-600 hover:bg-red-700 text-white text-sm font-semibold px-4 py-2 rounded-xl shadow">PDF</a>
          </div>
        </div>
      </div>
      <!-- Tabla interna -->
      <turbo-frame id="assignments_table">
        <div class="overflow-x-auto">
          <table class="min-w-full text-sm border-collapse">
            <thead class="text-xs text-gray-500 uppercase border-b">
              <tr>
                <th class="px-4 py-2 text-left"><%= sortable("user_id", "USUARIO") %></th>
                <th class="px-4 py-2 text-left"><%= sortable("product_id", "PRODUCTO") %></th>
                <th class="px-4 py-2 text-center"><%= sortable("quantity", "CANTIDAD") %></th>
                <th class="px-4 py-2 text-center"><%= sortable("status", "ESTADO") %></th>
                <th class="px-4 py-2 text-left"><%= sortable("created_at", "FECHA CREACION") %></th>
                <th class="px-4 py-2 text-right">ACCIONES</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
              <% @assignments.each do |assignment| %>
                <tr class="hover:bg-sky-50 transition" id="<%= dom_id(assignment) %>">
                  <td class="px-4 py-2 font-medium"><%= assignment.user.username %></td>
                  <td class="px-4 py-2 text-gray-700"><%= assignment.product.title %></td>
                  <td class="px-4 py-2 text-center font-semibold"><%= assignment.quantity %></td>
                  <td class="px-4 py-2 text-center">
                    <span class="inline-flex px-2 py-1 rounded-full text-xs font-semibold
                      <%= case assignment.status
                        when "assigned"
                          'bg-yellow-100 text-yellow-800'
                        when "installed"
                          'bg-green-100 text-green-800'                          
                        end  %>">
                      <%= t("activerecord.attributes.assignment.statuses.#{assignment.status}") %>
                    </span>
                  </td>
                  <td class="px-4 py-2 text-gray-500 text-sm"><%= assignment.created_at.to_date %></td>
                  <td class="px-4 py-2 text-right flex gap-2">
                    <%= link_to "Ver", assignment_path(assignment), data: { turbo_frame: "modal" }, class: "text-indigo-600 hover:underline" %>
                    <% unless assignment.installed? %>
                      <%= link_to "Editar", edit_assignment_path(assignment), data: { turbo_frame: "modal" }, class: "text-yellow-600 hover:underline" %>
                    <% end %>
                    <%= button_to "Eliminar", assignment_path(assignment),method: :delete, data: { turbo_confirm: "¿Estás seguro?", turbo_frame: "_top" }, class: "text-red-600 hover:underline" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="flex justify-between items-center mt-4 text-sm text-gray-600">
          <div class="flex items-center gap-2">
            <label for="per_page">Mostrar:</label>
            <%= form_with url: assignments_path, method: :get, local: true do |f| %>
              <%= hidden_field_tag :q, params[:q] %> <!-- conserva búsqueda -->
              <%= select_tag :per_page,
                    options_for_select([10, 30, 50, 100], params[:per_page] || 10),
                    onchange: "this.form.submit();",
                    class: "border border-gray-300 rounded-lg px-2 py-1 text-sm" %>
            <% end %>
          </div>
          <div class="flex flex-wrap gap-2">
            <div>
              <span class="text-xs text-gray-400"><%= "Total: #{@pagy.count} Asignaciones de (#{@pagy.count})" %></span>
            </div>
            <div>
              <%= pagy_nav(@pagy, link_extra: 'data-turbo-frame="assignments_table').html_safe %>
            </div>
          </div>
        </div>
      </turbo-frame>
    </div>
    <% if @assignments.empty? %>
      <div class="text-center py-10 text-gray-400">
        No hay asignaciones para mostrar
      </div>
    <% end %>
  </div>
</div>
<turbo-frame
  id="modal"
  src="<%= assignment_path(params[:show]) if params[:show].present? %>">
</turbo-frame>