<h1>Laboratorio</h1>

<h2>Devices</h2>

<table>
  <thead>
    <tr>
      <th>IMEI</th>
      <th>Modelo</th>
      <th>SIM</th>
      <th>Estado</th>
      <th class="p-2 text-left">device activa</th>
    </tr>
  </thead>

  <tbody>
    <% @devices.each do |device| %>
      <tr>
        <td><%= device.imei %></td>
        <td><%= device.model %></td>

        <td>
          <% if device.current_sim %>
            <%= device.current_sim.iccid %>
          <% else %>
            -
          <% end %>
        </td>

        <td><%= device.status %></td>
        <td class="p-2">
          <% if device.active_sim %>
            <%= device.active_sim.iccid %>
          <% else %>
            <span class="text-gray-400">Sin SIM</span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<h2>Sims disponibles</h2>

<table>
  <thead>
    <tr>
      <th>ICCID</th>
      <th>Proveedor</th>
      <th>APN</th>
      <th>Estado</th>
    </tr>
  </thead>

  <tbody>
    <% @available_sims.each do |sim| %>
      <tr>
        <td><%= sim.iccid %></td>
        <td><%= sim.provider %></td>
        <td><%= sim.apn %></td>
        <td><%= sim.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<h1>Laboratory</h1>

<h2>Instalar SIM</h2>

<%= form_with url: install_sim_laboratory_path, method: :post do %>

  <div>
    <label>Device</label>
    <%= select_tag :device_id,
        options_from_collection_for_select(@devices, :id, :imei) %>
  </div>

  <div>
    <label>SIM disponible</label>
    <%= select_tag :sim_id,
        options_from_collection_for_select(@available_sims, :id, :iccid) %>
  </div>

  <div>
    <%= submit_tag "Instalar SIM" %>
  </div>

<% end %>