<div class="sticky top-0 overflow-y-auto:hidden h-screen bg-gradient-to-b from-purple-100 to-white flex flex-col items-start py-6 transition-all duration-300 ease-in-out w-20 z-10"
     data-controller="menu"
     data-action="mouseenter->menu#expand mouseleave->menu#collapse"
     data-menu-target="sidebar">

  <!-- Botón de pin -->
  <button data-action="menu#togglePin" class="pin-toggle-button absolute top-3 right-3 text-gray-500 hover:text-gray-900 z-10">
    <%= image_tag 'icons/pin_fill.svg', class: "w-5 h-5 pin-icon-pinned hidden", data: { menu_target: "pinPinnedIcon" } %>
    <%= image_tag 'icons/pin.svg', class: "w-5 h-5 pin-icon-unpinned", data: { menu_target: "pinUnpinnedIcon" } %>
  </button>

  <!-- Logo -->
  <%= link_to products_path, class: "flex items-center space-x-2 pl-5 mb-6" do %>
    <%= image_tag 'icons/logo.svg', class: "w-10 h-10" %>
    <span class="menu-label text-lg font-bold"><%= t('.app') %></span>
  <% end %>

  <!-- Wrapper para ambos navs -->
  <div class="flex flex-col w-full px-4 gap-4 h-full justify-between">
    <!-- Primer nav -->
    <nav class="flex flex-col gap-2 w-full transition-all duration-300 ease-in-out">

      <!-- Enlace sin submenu -->

      <% if Current.user %>
        <!-- Grupo Almacen -->
        <div class="flex flex-col w-full transition-all duration-300 ease-in-out">
          <button type="button"
                  class="sidebar-link flex space-x-2 pl-3 w-full group hover:opacity-100 transition"
                  data-action="click->menu#toggleSubmenu">
            <%= image_tag 'icons/home.svg', class: "w-6 h-6 opacity-70 group-hover:opacity-100" %>
            <span class="menu-label group-hover:opacity-100"><%= t('.warehouse') %></span>
          </button>

          <div data-menu-target="submenu" class="ml-8 mt-0 flex flex-col gap-3 overflow-hidden transition-all duration-300 ease-in-out">
            <%= sidebar_link_to products_path, icon: 'icons/dashboard.svg', label: t('.dashboard'),  icon_class: "w-5 h-5 opacity-70 group-hover:opacity-100" %>
            <%= sidebar_link_to new_product_path, icon: 'icons/add.svg', label: t('.add_product'), icon_class: "w-5 h-5 opacity-70 group-hover:opacity-100" %>
            <%= sidebar_link_to favorites_path, icon: 'icons/fav.svg', label: t('.favs'), icon_class: "w-5 h-5 opacity-70 group-hover:opacity-100" %>
            <%= sidebar_link_to categories_path, icon: 'icons/categories.svg', label: t('.categories'),  icon_class: "w-5 h-5 opacity-70 group-hover:opacity-100" %>
          </div>
        </div>

        <div>
          <button type="button" class="sidebar-link flex space-x-2 pl-3 w-full group hover:opacity-100 transition" data-action="click->menu#toggleSubmenu">
            <%= image_tag 'icons/card.svg', class: "w-6 h-6 opacity-70 group-hover:opacity-100" %>
            <span class="menu-label group-hover:opacity-100"><%= t('.services') %></span>
          </button>
          
          <div data-menu-target="submenu" class="ml-8 mt-0 flex flex-col gap-3 overflow-hidden transition-all duration-300 ease-in-out">
            <%= sidebar_link_to deliveries_path, icon: 'icons/deliveries.svg', label: t('.deliveries'), icon_class: "w-5 h-5 opacity-70 group-hover:opacity-100" %>
            <%= sidebar_link_to assignments_path, icon: 'icons/assign.svg', label: t('.assign'), icon_class: "w-5 h-5 opacity-70 group-hover:opacity-100" %>
          </div>
        </div>
        <% if Current.user.admin? %>
          <%= sidebar_link_to supports_path, icon: 'icons/support.svg', label: t('.supports') %>
          <%= sidebar_link_to warranties_path, icon: 'icons/warranty.svg', label: t('.warranties') %>
          <%= sidebar_link_to folios_path, icon: 'icons/folio.svg', label: t('.folios') %>
        <% end %>
      <% end %>
    </nav>

    <!-- Segundo nav (configuración y sesión) -->
    <nav class="flex flex-col gap-2 transition-all duration-300 ease-in-out">
      <% if Current.user %>
        <%= sidebar_link_to '#', icon: 'icons/settings.svg', label: t('.config') %>

        <%= sidebar_link_to logout_path,
              icon: 'icons/logout.svg',
              label: t('.logout'),
              data: { turbo_method: :delete, turbo_confirm: t('common.confirm') } %>
      <% else %>
        <%= sidebar_link_to new_session_path, icon: 'icons/user.svg', label: t('.login') %>
        <%= sidebar_link_to new_user_path, icon: 'icons/email.svg', label: t('.register') %>
      <% end %>
    </nav>
  </div>
</div>