<% assignment = f.object || Assignment.new %>
<div class="assignment-fields bg-gray-50 p-4 rounded-xl shadow space-y-2">
  <div class="border p-4 rounded mb-4 bg-gray-50">


    <div class="mb-2" data-controller="product-stock">
      <%= f.label :product_id, "Producto" %>
      <%= f.collection_select :product_id, Product.all, :id, :title, {}, 
            class: "w-full p-2 border rounded",
            data: { action: "change->product-stock#update" } %>

      <% stock_value = if assignment.product_id.present? && @products[assignment.product_id]
                        @products[assignment.product_id].stock
                       else
                         "-"
                       end %>
      
      <div class="text-sm text-gray-500 mt-1">
        Stock disponible: <span data-product-stock-target="stock"><%= stock_value %></span>
      </div>
    </div>

    <div class="mb-2">
      <%= f.label :quantity, "Cantidad" %>
      <%= f.number_field :quantity, min: 1, class: "w-full p-2 border rounded" %>
    </div>


    <%= f.hidden_field :_destroy %>

    <button type="button" class="text-red-600 mt-2" data-action="click->assignment-fields#remove">Eliminar</button>
  </div>
</div>