<div class="min-h-screen flex flex-col lg:flex-row gap-6 p-4 lg:p-6">
  <!-- Sidebar de filtros -->
  <div class="w-full lg:w-1/4 space-y-4">
    <div class="bg-white p-4 rounded-2xl shadow space-y-4">
      <h1 class="text-2xl font-bold text-gray-800">Garantías</h1>

      <%= form_with url: warranties_path, method: :get, data:{ controller: "debounce-search", turbo_action: "advance" }, class: "space-y-4" do |form| %>

        <!-- Busqueda -->
        <div>
          <%= form.label :q, "Busqueda", class: "block text-sm font-medium text-gray-700" %>
          <%= form.text_field :q, value: params[:q], placeholder: "Usuario o producto", data: { debounce_search_target: "input", action: "input->debounce-search#search" }, class: "w-full border border-gray-300 rounded-xl px-3 py-2 text-sm" %>
        </div>

        <!-- Estado -->
        <div>
          <%= form.label :state, "Estado de garantía", class: "block text-sm font-medium text-gray-700" %>
          <%= form.select :state, options_for_select([['Pendiente', :pending], ['En proceso', :in_process], ['Completado', :completed]], params[:state]), { include_blank: true }, class: "w-full border border-gray-300 rounded-lg px-3 py-2 text-sm" %>
        </div>

        <!-- Fechas -->
        <div class="grid grid-cols-2 gap-3">
          <div>
            <%= form.label :from, "Desde", class: "block text-sm text-gray-600" %>
            <%= form.date_field :from, value: params[:from], class:"w-full border border-gray-300 rounded-xl px-2 py-1 text-sm" %>
          </div>
          <div>
            <%= form.label :to, "Hasta", class: "block text-sm text-gray-600" %>
            <%= form.date_field :to, value: params[:to], class: "w-full border border-gray-300 rounded-xl px-2 py-1 text-sm" %>
          </div>
        </div>

        <div class="pt-2">
          <%= form.submit 'Filtrar', class: "w-full bg-sky-600 hover:bg-sky-700 text-white font-semibold px-4 py-2 rounded-xl transition" %>
        </div>
      <% end %>

      <div class="pt-4 flex justify-center">
        <%= link_to "Nueva Garantía", new_warranty_path, data: { turbo_frame: "modal" }, class: "bg-emerald-600 hover:bg-emerald-700 text-white px-4 py-2 rounded-xl text-sm font-medium shadow" %>
      </div>
    </div>
  </div>

  <!-- Panel principal -->
  <div class="w-full lg:w-3/4 space-y-4">
    <div class="bg-white p-4 rounded-2xl shadow">
      <div class="flex justify-between mt-2 mb-2">
        <h2 class="text-xl font-semibold mb-4">Historial de Garantías</h2>
        <!-- Top controls -->
          <div class="flex items-center gap-1 bg-white-50 border border-gray-200 rounded-lg p-1 mb-2">
            <%= link_to import_warranties_path,
              class: "group flex items-center gap-2 px-3 py-2 rounded-md text-sm font-medium text-gray-700 hover:bg-gray-200 transition",
              data: { turbo_frame: "modal" } do %>
              <%= image_tag 'icons/import.svg',
                class: "w-5 h-5 opacity-70 group-hover:opacity-100 transition" %>
              Importar
            <% end %>

            <%= link_to export_warranties_path(q: params[:q], status: params[:status], from: params[:from], to: params[:to]),
              class: "group flex items-center gap-2 px-3 py-2 rounded-md text-sm font-medium text-gray-700 hover:bg-gray-200 transition",
              data: { turbo_frame: "modal" } do %>
              <%= image_tag 'icons/export.svg',
                class: "w-5 h-5 opacity-70 group-hover:opacity-100 transition" %>
              Exportar
            <% end %>
          </div>
        </div>
      <!-- Tabla interna -->
      <turbo-frame id="warranties_table">
        <div class="overflow-x-auto">
          <table class="min-w-full text-sm text-left border-collapse">
            <thead class="text-xs text-gray-500 uppercase border-b">
              <tr>
                <th class="px-4 py-2"><%= sortable("id", "ID") %></th>
                <th class="px-4 py-2"><%= sortable("product_id", "PRODUCTO") %></th>
                <th class="px-4 py-2"><%= sortable("client", "CLIENTE") %></th>
                <th class="px-4 py-2"><%= sortable("user_id", "USUARIO") %></th>
                <th class="px-4 py-2"><%= sortable("state", "ESTADO") %></th>
                <th class="px-4 py-2"><%= sortable("created_at", "FECHA CREACION") %></th>
                <th class="px-4 py-2">Acciones</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
              <% @warranties.each do |warranty| %>
                <tr class="hover:bg-sky-50 transition">
                  <td class="px-4 py-2"><%= warranty.id %></td>
                  <td class="px-4 py-2"><%= warranty.product&.title || "N/A" %></td>
                  <td class="px-4 py-2"><%= warranty.client %></td>
                  <td class="px-4 py-2"><%= warranty.user&.username || "N/A" %></td>
                  <td class="px-4 py-2">
                    <span class="inline-block px-2 py-1 rounded-full text-xs font-semibold
                      <%= case warranty.state 
                        when "pending"
                          "bg-red-100 text-red-800 text-center"
                        when "in_process"
                          "bg-yellow-100 text-yellow-800 text-center"
                        when "completed"
                          "bg-green-100 text-green-800 text-center"
                        end %>">
                      <%= t("activerecord.attributes.warranty.states.#{warranty.state}") %>
                    </span>
                  </td>
                  <td class="px-4 py-2 text-gray-500 text-sm"><%= warranty.created_at.strftime("%d/%m/%Y") %></td>
                  <td class="px-4">
                    <div class="flex items-center justify-start h-full gap-2">
                      <%= link_to "Ver", warranty_path(warranty), class: "text-indigo-600 hover:underline", data: { turbo_frame: "modal" } %>
                      <%= link_to "Editar", edit_warranty_path(warranty), class: "text-yellow-600 hover:underline", data: { turbo_frame: "modal" } %>
                      <%= button_to "Eliminar", warranty_path(warranty), method: :delete, data: { turbo_confirm: "¿Estás seguro?", turbo_frame: "_top" }, class: "text-red-600 hover:underline" %>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="flex justify-between items-center mt-4 text-sm text-gray-600">
          <div class="flex items-center gap-2">
            <label for="per_page">Mostrar:</label>
            <%= form_with url: warranties_path, method: :get, local: true do |f| %>
              <%= hidden_field_tag :q, params[:q] %> <!-- conserva búsqueda -->
              <%= select_tag :per_page,
                    options_for_select([10, 30, 50, 100], params[:per_page] || 10),
                    onchange: "this.form.submit();",
                    class: "border border-gray-300 rounded-lg px-2 py-1 text-sm" %>
            <% end %>
          </div>
          <div class="flex flex-wrap gap-2">
            <div>
              <span class="text-xs text-gray-400"><%= "Total: #{@pagy.count} Garantías" %></span>
            </div>
            <div>
              <%= pagy_nav(@pagy, link_extra: 'data-turbo-frame="warranties_table"').html_safe %>
            </div>
          </div>
        </div>
      </turbo-frame>
    </div>
    <% if @warranties.empty? %>
      <div class="text-center py-10 text-gray-400">
        No hay garantías para mostrar
      </div>
    <% end %>
  </div>
</div>