<div id="<%= dom_id(product) %>" class="grid md:grid-cols-2 gap-6">
  <% if product.photo.attached? %>
    <div>
      <%= image_tag product.photo, class: "rounded-xl w-full h-64 object-cover shadow" %>
    </div>
  <% end %>

  <div class="flex flex-col justify-between">
    <div>
      <h1 class="text-3xl font-bold text-gray-800 mb-2"><%= product.title %></h1>
      <p class="text-gray-600 mb-4"><%= product.description %></p>

      <div class="mb-2">
        <span class="text-gray-500 text-sm">ID:</span>
        <span class="font-mono text-gray-800"><%= product.id %></span>
      </div>

      <div class="mb-2">
        <span class="text-gray-500 text-sm">Categoría:</span>
        <span class="text-gray-700"><%= product.category&.name || "Sin categoría" %></span>
      </div>

      <% if product.trackable? %>
        <div class="mb-2">
          <span class="text-gray-500 text-sm">Inventario:</span>
          <span class="font-bold text-teal-600"><%= product.real_stock %> unidades</span>
        </div>

        <% counts = product.devices.exists? ? product.device_status_counts : product.sim_status_counts %>

        <div class="flex flex-col gap-2 text-xs mt-2">
          <% counts.each do |status, count| %>
            <% color = case status
              when "available" then "bg-amber-100 text-amber-600"
              when "assigned" then "bg-sky-100 text-sky-800"
              when "installed" then "bg-green-100 text-green-800"
              when "in_warranty" then "bg-orange-100 text-orange-600"
              when "damaged" then "bg-rose-100 text-rose-800"
              when "returned" then "bg-purple-100 text-purple-700"
            end %>
            <div class="flex items-center px-2 py-1 rounded truncate w-fit <%= color %>">
              <span class="inline-flex w-20 <%= color %> "><%= t("activerecord.attributes.device.statuses.#{status}") %>:</span>
              <span class="font-semibold "><%= count %></span>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="mb-2">
          <span class="text-gray-500 text-sm">Stock:</span>
          <span class="font-bold text-teal-600"><%= product.stock %> unidades</span>
        </div>
      <% end %>

      <div class="mb-2">
        <span class="text-gray-500 text-sm">Precio:</span>
        <span class="font-bold text-cyan-600">$<%= product.price %></span>
      </div>
    </div>
  </div>
</div>