<div class="min-h-screen flex flex-col lg:flex-row gap-6 p-4 lg:p-6">
  <!-- sidebar de filtros -->
  <div class="w-full lg:w-1/4 space-y-4">
    <div class="bg-white p-4 rounded-2xl shadow space-y-4">
      <h1 class="text-2xl font-bold text-gray-800">Filtrar folios</h1>

      <%= form_with url: folios_path, method: :get, data:{ controller: "debounce-search", turbo_action: "advance" }, class: "space-y-4" do |form| %>

        <!-- Busqueda -->
        <div>
          <%= form.label :q, "Busqueda", class: "block text-sm font-medium text-gray-700" %>
          <%= form.text_field :q, value: params[:q], placeholder: "Cliente usuario o folio", data: { debounce_search_target: "input", action: "input->debounce-search#search" }, class: "w-full border border-gray-300 rounded-xl px-3 py-2 text-sm" %>
        </div>

        <!-- Estado -->
        <div>
          <%= form.label :status, "Estado de folio", class: "block text-sm font-medium text-gray-700" %>
          <%= form.select :status, options_for_select([['Creado', :crafted], ['Asignado', :assigned], ['Finalizado', :delivered]], params[:status]), { include_blank: true }, class: "w-full border border-gray-300 rounded-lg px-3 py-2 text-sm" %>
        </div>

        <!-- Fechas -->
        <div class="grid grid-cols-2 gap-3">
          <div>
            <%= form.label :from, "Desde", class: "block text-sm text-gray-600" %>
            <%= form.date_field :from, value: params[:from], class:"w-full border border-gray-300 rounded-xl px-2 py-1 text-sm" %>
          </div>
          <div>
            <%= form.label :to, "Hasta", class: "block text-sm text-gray-600" %>
            <%= form.date_field :to, value: params[:to], class: "w-full border border-gray-300 rounded-xl px-2 py-1 text-sm" %>
          </div>
        </div>

        <div class="pt-2">
          <%= form.submit 'Filtrar', class: "w-full bg-sky-600 hover:bg-sky-700 text-white font-semibold px-4 py-2 rounded-xl transition" %>
        </div>
      <% end %>

      <div class="pt-4">
        <%= link_to 'Nuevo folio', new_folio_path, data: { turbo_frame: "modal" }, class: "block w-full text-center bg-blue-600 hover:bg-blue-700 text-white font-semibold px-4 py-2 rounded-xl transition" %>
      </div>
    </div>
  </div>

  <!-- Panel derecho: tabla de folios -->
  <div class="w-full lg:w-3/4 space-y-4">
    <div class="bg-white p-4 rounded-2xl shadow">
      <div class="flex justify-between mt-2 mb-2">
        <h2 class="text-xl font-semibold mb-4">Lista de folios</h2>
        <!-- Top controls -->
        <div class="flex items-center gap-1 bg-white-50 border border-gray-200 rounded-lg p-1 mb-2">
          <%= link_to import_folios_path,
            class: "group flex items-center gap-2 px-3 py-2 rounded-md text-sm font-medium text-gray-700 hover:bg-gray-200 transition",
            data: { turbo_frame: "modal" } do %>
            <%= image_tag 'icons/import.svg',
              class: "w-5 h-5 opacity-70 group-hover:opacity-100 transition" %>
            Importar
          <% end %>

          <%= link_to export_folios_path(q: params[:q], status: params[:status], from: params[:from], to: params[:to]),
            class: "group flex items-center gap-2 px-3 py-2 rounded-md text-sm font-medium text-gray-700 hover:bg-gray-200 transition",
            data: { turbo_frame: "modal" } do %>
            <%= image_tag 'icons/export.svg',
              class: "w-5 h-5 opacity-70 group-hover:opacity-100 transition" %>
            Exportar
          <% end %>
        </div>
      </div>

      <turbo-frame id="folios_table">
        <div class="overflow-x-auto">
          <table class="min-w-full text-sm text-left border-collapse">
            <thead class="text-xs text-gray-500 uppercase border-b">
              <tr>
                <th class="px-4 py-2"><%= sortable("id", "ID") %></th>
                <th class="px-4 py-2"><%= sortable("created_at", "FECHA CREACION") %></th>              
                <th class="px-4 py-2"><%= sortable("client", "CLIENTE") %></th>
                <th class="px-4 py-2"><%= sortable("user_id", "USUARIO") %></th>
                <th class="px-4 py-2"><%= sortable("status", "ESTADO") %></th>
                <th class="px-4 py-2">Acciones</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
              <% @folios.each do |folio| %>
                <tr class="hover:bg-sky-50 transition">
                  <td class="px-4 py-2 font-medium"><%= folio.id %></td>
                  <td class="px-4 py-2"><%= folio.created_at.strftime("%d/%m/%Y") %></td>
                  <td class="px-4 py-2"><%= folio.client %></td>
                  <td class="px-4 py-2"><%= folio.user&.username || "No asignado" %></td>
                  <td class="px-4 py-2">
                    <span class="inline-flex px-2 py-1 rounded-full text-xs font-semibold
                      <%= case folio.status 
                      when "crafted"
                        'bg-red-100 text-red-600'
                      when "assigned"
                        'bg-yellow-100 text-yellow-800'
                      when "delivered"
                        'bg-green-100 text-green-800'
                      end  %>">
                      <%= t("activerecord.attributes.folio.statuses.#{folio.status}") %>
                    </span>
                  </td>
                  <td class="px-4">
                    <div class="flex items-center justify-start h-full gap-2">
                      <%= link_to 'Ver', folio_path(folio), class: "text-blue-600 hover:underline", data: { turbo_frame: "modal" } %>
                      
                      <%= link_to "Editar", edit_folio_path(folio), data: { turbo_frame: "modal" }, class: "text-yellow-600 hover:underline" %>
                      
                      <%= button_to 'Eliminar', folio_path(folio), method: :delete, data: { turbo_confirm: '¿Estás seguro?', turbo_frame: "_top" }, class: "text-red-600 hover:underline" %>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="flex justify-between items-center mt-4 text-sm text-gray-600">
          <div class="flex items-center gap-2">
            <label for="per_page">Mostrar:</label>
            <%= form_with url: folios_path, method: :get, local: true do |f| %>
              <%= hidden_field_tag :q, params[:q] %> <!-- conserva búsqueda -->
              <%= select_tag :per_page,
                    options_for_select([10, 30, 50, 100], params[:per_page] || 10),
                    onchange: "this.form.submit();",
                    class: "border border-gray-300 rounded-lg px-2 py-1 text-sm" %>
            <% end %>
          </div>
          <div class="flex flex-wrap gap-2">
            <div>
              <span class="text-xs text-gray-400"><%= "Total: #{@pagy.count} Folios)" %></span>
            </div>
            <div>
              <%= pagy_nav(@pagy, link_extra: 'data-turbo-frame="folios_table"').html_safe %>
            </div>
          </div>
        </div>
      </turbo-frame>
    </div>
    <% if @folios.empty? %>
      <div class="text-center py-10 text-gray-400">
        No hay Folios para mostrar
      </div>
    <% end %>
  </div>
</div>